.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f4f8;

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  
}

.login-input {
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #aaa;
}

.login-input:focus {
  border-color: #333;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 8px;
}
